{{define "about_content"}}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<meta content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width" name="viewport"/>
<title>{{.HTMLTitle}} - {{.Settings.SiteName}}</title>
<meta name="description" content="{{.MetaDescription}}"/>
<meta content="noai, noimageai" name="robots"/>
<link rel="canonical" href="{{.CanonicalURL}}"/>
<link href="/static/theme_api/v1/hosted_fonts-58e499298cb6db37c90c2bd6bd2ad287c8423ad12d9c2cc346a2af9afc8b7fd4.css" media="screen" rel="stylesheet"/>
<link href="/static/theme_api/vendor/webtype_fonts.min-a27384810945198dd373502796bfbada62cc8409c49831a8778ac894e78f7749.css" media="screen" rel="stylesheet"/>
<link href="/assets/theme/stylesheet.css?v=7" media="screen" rel="stylesheet"/>
<link href="/assets/theme/about.css?v=1" media="screen" rel="stylesheet"/>
</head>
<body class="about about-page content content_page simple simple_page">
<div class="page clearfix">
<div class="theme_header static clearfix" id="themeHeader">
<div class="padding-div">
<div class="theme_logo">
<h1 class="logo theme_logo"><a href="{{.HomeURL}}">{{.Settings.LogoHTML}}</a></h1>
</div>
{{template "nav" .}}
</div>
</div>
<main class="about-shell" id="content">
{{- if or .AboutHasPhoto .AboutHasBio }}
<div class="{{.AboutHeroClass}}">
{{- if .AboutHasPhoto }}
<div class="about-hero__photo">
{{.AboutPortrait}}
</div>
{{- end }}
{{- if .AboutHasBio }}
<div class="about-hero__copy">
{{.AboutBio}}
</div>
{{- end }}
</div>
{{- end }}
{{- if .AboutRest }}
<div class="about-rest">
{{- range .AboutRest }}
{{.HTML}}
{{- end }}
</div>
{{- end }}
</main>
</div>
</body>
</html>
{{end}}
