{{define "rate_form_fashion"}}
<form id="rates_form_fashion" class="rate-form email_form contact_form" method="post" action="{{.Action}}" novalidate data-rate-form="rates_fashion">
{{template "rate_hidden" .}}
{{template "rate_title" .}}
{{template "rate_status" .}}
{{template "rate_steps_fashion" .}}
{{template "rate_footer" .}}
</form>
{{end}}
