{{define "rates_content"}}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<meta content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width" name="viewport"/>
<title>{{.HTMLTitle}} - {{.Settings.SiteName}}</title>
<meta name="description" content="{{.MetaDescription}}"/>
<meta content="noai, noimageai" name="robots"/>
<link rel="canonical" href="{{.CanonicalURL}}"/>
<link href="/static/theme_api/v1/hosted_fonts-58e499298cb6db37c90c2bd6bd2ad287c8423ad12d9c2cc346a2af9afc8b7fd4.css" media="screen" rel="stylesheet"/>
<link href="/static/theme_api/vendor/webtype_fonts.min-a27384810945198dd373502796bfbada62cc8409c49831a8778ac894e78f7749.css" media="screen" rel="stylesheet"/>
<link href="/assets/theme/stylesheet.css?v=7" media="screen" rel="stylesheet"/>
<link href="/static/theme_api/v1/960_simple-80ab8eb2695abe415bd536608db207267db1a467f2841da1c01b06c3559dd9c6.css" media="screen" rel="stylesheet"/>
<link href="/static/_common/animation-7fc12d665fca943072e7f3c6c84d756b935958c9d92f8a940de7dcfd69c2b253.css" media="screen" rel="stylesheet"/>
<link href="/static/_common/module_base-52f9ad05f403265ad4033430f00ab7b3dca79686e1b73cf6456eb55acf10a750.css" media="screen" rel="stylesheet"/>
<link href="/static/_common/contact_form-7d6c73bf9f5dd914006a80bda1ccb9ab37ae9120a36bfc43e414e37243392434.css" media="screen" rel="stylesheet"/>
<link href="/assets/theme/rates.css?v=11" media="screen" rel="stylesheet"/>
</head>
<body class="rates rates-page content content_page simple simple_page">
<div class="page clearfix">
<div class="theme_header static clearfix" id="themeHeader">
<div class="padding-div">
<div class="theme_logo">
<h1 class="logo theme_logo"><a href="{{.HomeURL}}">{{.Settings.LogoHTML}}</a></h1>
</div>
{{template "nav" .}}
</div>
</div>
<div id="content">
<div class="_4ORMAT_content_wrapper rates-intro" id="content_page_wrapper">
<div class="_4ORMAT_content_page_container _4ormat_sort">
{{- range .RenderedBlocks }}
{{- if eq .Type "rich_text" }}
{{.HTML}}
{{- end }}
{{- end }}
</div>
</div>
</div>
<div class="rates-banners" style="{{.BannerGridStyle}}">
{{- range .RenderedBlocks }}
{{- if eq .Type "rate_banner" }}
{{.HTML}}
{{- end }}
{{- end }}
</div>
</div>
{{- range .RateModals }}
<div class="rate-modal rates-dialog" id="{{.Key}}" hidden role="dialog" aria-modal="true" aria-labelledby="rate-title-{{.Key}}">
<div class="rate-modal__backdrop" data-rate-close="1"></div>
<div class="rate-modal__panel">
<button type="button" class="rate-modal__close rates-dialog-close" data-rate-close="1" aria-label="Close"><span class="rates-dialog-close__icon" aria-hidden="true"></span></button>
{{- if .FormHTML }}
{{.FormHTML}}
{{- else if eq .Key "fashion" }}{{template "rate_form_fashion" .}}
{{- else if eq .Key "beauty" }}{{template "rate_form_beauty" .}}
{{- else if eq .Key "lookbook" }}{{template "rate_form_lookbook" .}}
{{- else if eq .Key "editorial" }}{{template "rate_form_editorial" .}}
{{- else if eq .Key "product" }}{{template "rate_form_product" .}}
{{- else if eq .Key "manual" }}{{template "rate_form_manual" .}}
{{- end }}
</div>
</div>
{{- end }}
<script src="/assets/theme/form-submit.js?v=1"></script>
{{- if .TurnstileSiteKey }}
<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
{{- end }}
<script src="/assets/theme/rates.js?v=2"></script>
</body>
</html>
{{end}}
